/*======== Fonts ========*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}
p {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777777
}
/*======== Inserting this to make header and footer full-width ========*/
html, body {
    padding: 0;
    margin: 0;
  }
  
  .header {
    margin: 0;
  }

/*======== Header ========*/

.header {

    background: #ffffff;
    padding: 30px 0;
    border-bottom: solid 1px #cccccc;
}

.header-name {
    align: left;
}
.header .main-menu {
    float: right;
}
/*======== Content ========*/

.content{
    background: white;
    margin: 5% 10%;
    padding: 20px 10px;
    border: solid 1px #dddddd;
}

.content .content-header   {

}

/*======== Footer ========*/

.footer {
    text-align: center;
    background: #666666;
    padding: 30px 0;
}
